# Project 4: Validation of S3 Silver Layer

In [5]:
import pandas as pd
import glob

## fact_media

In [14]:
# List all Parquet files in folder
files = glob.glob("../data/Silver/fact_media/*.parquet")
display(files)

# Read and concatenate them
df_fact_media = pd.concat([pd.read_parquet(f, engine="fastparquet") for f in files], ignore_index=True)
display(df_fact_media.head())
df_fact_media.info()

['../data/Silver/fact_media\\part-00000-52db537b-5318-4519-84c0-a849bdd05285-c000.snappy.parquet']

,load_count,play_count,play_rate,hours_watched,engagement,visitors,media_id,snapshot_ts
0,111166,16681,0.154950,336.975662,0.167007,104556,gskhw4w4lm,2026-01-08 16:01:48
1,110735,43810,0.435035,2651.986970,0.500445,94643,v08dlrgr7v,2026-01-08 16:01:48

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   load_count     2 non-null      int64
 1   play_count     2 non-null      int64
 2   play_rate      2 non-null      float64
 3   hours_watched  2 non-null      float64
 4   engagement     2 non-null      float64
 5   visitors       2 non-null      int64
 6   media_id       2 non-null      object
 7   snapshot_ts    2 non-null      datetime64[ns]
dtypes: datetime64[ns](1), float64(3), int64(3), object(1)
memory usage: 260.0+ bytes

## fact_media_engagement

In [15]:
# List all Parquet files in folder
files = glob.glob("../data/Silver/fact_media_engagement/*.parquet")
display(files)

# Read and concatenate them
df_fact_media_engagement = pd.concat([pd.read_parquet(f, engine="fastparquet") for f in files], ignore_index=True)
display(df_fact_media_engagement.tail())
df_fact_media_engagement.info()

['../data/Silver/fact_media_engagement\\part-00000-3b9a316e-9fb2-4301-b39b-a989e66d5132-c000.snappy.parquet']

,media_id,snapshot_ts,engagement_idx,engagement_count,rewatch_count,engagement
867,v08dlrgr7v,2026-01-08 16:01:48,431,15529,440,0.500445
868,v08dlrgr7v,2026-01-08 16:01:48,432,15386,436,0.500445
869,v08dlrgr7v,2026-01-08 16:01:48,433,15225,414,0.500445
870,v08dlrgr7v,2026-01-08 16:01:48,434,14965,400,0.500445
871,v08dlrgr7v,2026-01-08 16:01:48,435,15719,738,0.500445

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 872 entries, 0 to 871
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   media_id          872 non-null    object
 1   snapshot_ts       872 non-null    datetime64[ns]
 2   engagement_idx    872 non-null    int32
 3   engagement_count  872 non-null    int64
 4   rewatch_count     872 non-null    int64
 5   engagement        872 non-null    float64
dtypes: datetime64[ns](1), float64(1), int32(1), int64(2), object(1)
memory usage: 37.6+ KB

## fact_visitors

In [16]:
# List all Parquet files in folder
files = glob.glob("../data/Silver/fact_visitors/*.parquet")
display(files)

# Read and concatenate them
df_fact_visitors = pd.concat([pd.read_parquet(f, engine="fastparquet") for f in files], ignore_index=True)
display(df_fact_visitors.head())
df_fact_visitors.info()

['../data/Silver/fact_visitors\\part-00000-1e7196bc-31c4-4a63-b99c-82cc94e1c44a-c000.snappy.parquet',
 '../data/Silver/fact_visitors\\part-00001-1e7196bc-31c4-4a63-b99c-82cc94e1c44a-c000.snappy.parquet',
 '../data/Silver/fact_visitors\\part-00002-1e7196bc-31c4-4a63-b99c-82cc94e1c44a-c000.snappy.parquet',
 '../data/Silver/fact_visitors\\part-00003-1e7196bc-31c4-4a63-b99c-82cc94e1c44a-c000.snappy.parquet']

,visitor_key,created_at,last_active_at,last_event_key,load_count,play_count,identifying_event_key,name,email,org_name,org_title,browser,browser_version,platform,mobile,ingested_at
0,0023ba9_4c3c3319-4cda-42a4-aec9-f4d3588223b4-5...,2024-08-07 16:22:36,2024-08-07 16:31:43,0023ba9_6bfc6196-c93c-487b-a3fe-c24efbc7d4d2-e...,2,2,None,,None,None,None,Chrome,126,Windows,False,2026-01-09 22:15:53.188
1,0023ba9_620b109b-74c4-40f6-8cb1-ebb9cb0f0b99-e...,2024-08-07 15:06:48,2024-08-07 15:09:25,0023ba9_6ed1ee61-9fc3-414a-a694-41d5100ad297-e...,1,1,None,,None,None,None,Instagram,343.0.0.23.93,iOS,True,2026-01-09 22:15:53.188
2,0023ba9_64b415e1-c457-48c0-91db-a33853ee02f6-9...,2024-08-30 03:47:10,2024-08-30 03:54:52,8f6ad19_c8b40b4e-d162-42f9-84d6-818d6d85c30f-1...,1,1,None,,None,None,None,Chrome Webview,128.0.6613.95,Android,True,2026-01-09 22:15:53.188
3,0023ba9_85e745b7-b54b-42d6-bb46-847fb0196013-2...,2024-08-07 15:51:51,2024-08-07 15:59:13,0023ba9_62fd0386-7af4-4564-91e4-a529fcb242c8-9...,1,1,None,,None,None,None,Safari,17.5,Mac OS,False,2026-01-09 22:15:53.188
4,006109f_0e6b7a10-f26e-43ce-bc81-be73163c5d9e-7...,2024-04-09 15:18:04,2024-04-09 15:22:21,006109f_ed72df15-3383-4b23-a3fa-0da25f886fa3-1...,1,1,None,,None,None,None,Instagram,325.0.3.34.90,iOS,True,2026-01-09 22:15:53.188

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110499 entries, 0 to 110498
Data columns (total 16 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   visitor_key            110499 non-null  object
 1   created_at             110499 non-null  datetime64[ns]
 2   last_active_at         110499 non-null  datetime64[ns]
 3   last_event_key         110499 non-null  object
 4   load_count             110499 non-null  int64
 5   play_count             110499 non-null  int64
 6   identifying_event_key  0 non-null       object
 7   name                   110499 non-null  object
 8   email                  0 non-null       object
 9   org_name               0 non-null       object
 10  org_title              0 non-null       object
 11  browser                110499 non-null  object
 12  browser_version        110499 non-null  object
 13  platform               110499 non-null  object
 14  mobile                 110499 non-null  bool
 15  ingested_at            110499 non-null  datetime64[ns]
dtypes: bool(1), datetime64[ns](3), int64(2), object(10)
memory usage: 12.8+ MB