# Project 4: Validation of S3 Bronze Layer Data

In [2]:
import pandas as pd
import json
import glob

## media

In [3]:
# Read JSON files
def read_file(path):
    df = (
        pd.read_json(path, typ="series")
          .rename("value")
          .to_frame()
    )
    return df

for file in glob.glob("../data/Bronze/media/*.json"):
    print(file)
    df = read_file(file)
    display(df)

../data/Bronze/media\media_gskhw4w4lm_20260108_145959.json

                       value
load_count     111166.000000
play_count      16681.000000
play_rate           0.154950
hours_watched     336.975662
engagement          0.167007
visitors       104556.000000

../data/Bronze/media\media_gskhw4w4lm_20260108_160148.json

                       value
load_count     111166.000000
play_count      16681.000000
play_rate           0.154950
hours_watched     336.975662
engagement          0.167007
visitors       104556.000000

../data/Bronze/media\media_v08dlrgr7v_20260108_145959.json

                       value
load_count     110735.000000
play_count      43810.000000
play_rate           0.435035
hours_watched    2651.986970
engagement          0.500445
visitors        94643.000000

../data/Bronze/media\media_v08dlrgr7v_20260108_160148.json

                       value
load_count     110735.000000
play_count      43810.000000
play_rate           0.435035
hours_watched    2651.986970
engagement          0.500445
visitors        94643.000000

## media_engagement

In [4]:
# Read JSON files
def read_json_file(path):
    with open(path) as f:
        data = json.load(f)
    df = pd.DataFrame({
        "engagement_data": data["engagement_data"],
        "rewatch_data": data["rewatch_data"]
    })
    df["engagement"] = data["engagement"]
    return df

for file in glob.glob("../data/Bronze/media_engagement/*.json"):
    print(file)
    df = read_json_file(file)
    display(df)
    df.info()

../data/Bronze/media_engagement\media_engagement_gskhw4w4lm_20260108_145959.json

     engagement_data  rewatch_data  engagement
0              16108          1542    0.167007
1               9796           663    0.167007
2               9394           629    0.167007
3               8996           570    0.167007
4               8649           542    0.167007
..               ...           ...         ...
431             1790            53    0.167007
432             1785            52    0.167007
433             1780            52    0.167007
434             1754            48    0.167007
435             2060           133    0.167007

[436 rows x 3 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 436 entries, 0 to 435
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   engagement_data  436 non-null    int64
 1   rewatch_data     436 non-null    int64
 2   engagement       436 non-null    float64
dtypes: float64(1), int64(2)
memory usage: 10.3 KB
../data/Bronze/media_engagement\media_engagement_gskhw4w4lm_20260108_160148.json

     engagement_data  rewatch_data  engagement
0              16108          1542    0.167007
1               9796           663    0.167007
2               9394           629    0.167007
3               8996           570    0.167007
4               8649           542    0.167007
..               ...           ...         ...
431             1790            53    0.167007
432             1785            52    0.167007
433             1780            52    0.167007
434             1754            48    0.167007
435             2060           133    0.167007

[436 rows x 3 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 436 entries, 0 to 435
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   engagement_data  436 non-null    int64
 1   rewatch_data     436 non-null    int64
 2   engagement       436 non-null    float64
dtypes: float64(1), int64(2)
memory usage: 10.3 KB
../data/Bronze/media_engagement\media_engagement_v08dlrgr7v_20260108_145959.json

     engagement_data  rewatch_data  engagement
0              45074          4645    0.500445
1              40660          2517    0.500445
2              40227          2502    0.500445
3              39499          2390    0.500445
4              38867          2286    0.500445
..               ...           ...         ...
431            15529           440    0.500445
432            15386           436    0.500445
433            15225           414    0.500445
434            14965           400    0.500445
435            15719           738    0.500445

[436 rows x 3 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 436 entries, 0 to 435
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   engagement_data  436 non-null    int64
 1   rewatch_data     436 non-null    int64
 2   engagement       436 non-null    float64
dtypes: float64(1), int64(2)
memory usage: 10.3 KB
../data/Bronze/media_engagement\media_engagement_v08dlrgr7v_20260108_160148.json

     engagement_data  rewatch_data  engagement
0              45074          4645    0.500445
1              40660          2517    0.500445
2              40227          2502    0.500445
3              39499          2390    0.500445
4              38867          2286    0.500445
..               ...           ...         ...
431            15529           440    0.500445
432            15386           436    0.500445
433            15225           414    0.500445
434            14965           400    0.500445
435            15719           738    0.500445

[436 rows x 3 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 436 entries, 0 to 435
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   engagement_data  436 non-null    int64
 1   rewatch_data     436 non-null    int64
 2   engagement       436 non-null    float64
dtypes: float64(1), int64(2)
memory usage: 10.3 KB

## visitors

In [5]:
# Read JSON files
for file in glob.glob("../data/Bronze/visitors/*.json"):
    print(file)
    df = pd.read_json(file)
    display(df)
    df.info()

../data/Bronze/visitors\visitors_20260108_170607_batch_110471.json

,visitor_key,created_at,last_active_at,last_event_key,load_count,play_count,identifying_event_key,visitor_identity,user_agent_details
0,1767916_9dffc7a3-d82a-46de-9cfc-70680d2d3594-4...,2026-01-08 23:47:37+00:00,2026-01-08 23:47:13+00:00,1767916_3c38e546-5bcd-43bc-a023-e13616996906-5...,1,1,NaN,"{'name': '', 'email': None, 'org': {'name': No...","{'browser': 'Safari', 'browser_version': '18',..."
1,1767911_9e8e5852-85b1-44cb-a996-d663583fd7c0-6...,2026-01-08 22:29:33+00:00,2026-01-08 22:29:32+00:00,1767911_85898ab9-1174-4f62-98a5-cbd40a087d13-b...,10,1,NaN,"{'name': '', 'email': None, 'org': {'name': No...","{'browser': 'Microsoft Edge', 'browser_version..."
2,1767908_16a8f34d-3319-4535-bc6f-6fe781af7c3c-9...,2026-01-08 22:24:06+00:00,2026-01-08 22:23:40+00:00,1767911_98bd8d1d-2bb9-4659-b97f-9ad592008f1f-d...,1,1,NaN,"{'name': '', 'email': None, 'org': {'name': No...","{'browser': 'Safari', 'browser_version': '26',..."
3,1767910_b3f57b23-9c3e-471c-b7d3-419fdcbc47c3-b...,2026-01-08 22:13:56+00:00,2026-01-08 22:13:56+00:00,1767910_905d9697-9870-4429-9e2e-1d48b752d639-8...,1,1,NaN,"{'name': '', 'email': None, 'org': {'name': No...","{'browser': 'Microsoft Edge', 'browser_version..."
4,1767910_5ec59fc4-b490-4f39-86af-83a36b9b210d-2...,2026-01-08 22:07:29+00:00,2026-01-08 22:07:22+00:00,1767910_534d7917-1400-4efa-872a-3bebee4a574f-2...,1,1,NaN,"{'name': '', 'email': None, 'org': {'name': No...","{'browser': 'Instagram', 'browser_version': '4..."
...,...,...,...,...,...,...,...,...,...
110466,88670ff_c1e0fb3f-3e64-4faa-bbc1-647f469b96aa-0...,2024-01-01 01:59:59+00:00,2024-01-01 02:11:01+00:00,88670ff_aadafea0-b678-4ace-9662-1c8d5606ea7b-3...,3,3,NaN,"{'name': '', 'email': None, 'org': {'name': No...","{'browser': 'Chrome Webview', 'browser_version..."
110467,88670ff_0334ecfe-867e-450e-b24c-fcf82944cc01-0...,2024-01-01 00:32:52+00:00,2024-01-01 01:53:23+00:00,88670ff_b93ad290-0480-48f2-9d70-de6c4b6f78e3-d...,1,1,NaN,"{'name': '', 'email': None, 'org': {'name': No...","{'browser': 'UIWebView', 'browser_version': '6..."
110468,88670ff_ee53f7b5-3fa8-4181-9012-7982e142358b-0...,2024-01-01 01:41:13+00:00,2024-01-01 01:44:37+00:00,88670ff_b950df45-1c42-4622-9bcd-c7c64f386051-8...,1,1,NaN,"{'name': '', 'email': None, 'org': {'name': No...","{'browser': 'Instagram', 'browser_version': '3..."
110469,88670ff_5152ad61-a294-4015-8a3c-1060c10607c4-2...,2024-01-01 01:44:26+00:00,2024-01-01 01:44:28+00:00,88670ff_b2a30089-36c0-4096-95e9-1c38a9590cf8-7...,1,1,NaN,"{'name': '', 'email': None, 'org': {'name': No...","{'browser': 'Chrome Webview', 'browser_version..."
110470,88670ff_f6e15d25-a0fa-4712-b0fe-87a530e19546-9...,2024-01-01 01:16:29+00:00,2024-01-01 01:16:55+00:00,88670ff_2a10977f-a63a-4a13-9006-99e688ed7518-e...,1,1,NaN,"{'name': '', 'email': None, 'org': {'name': No...","{'browser': 'Chrome Webview', 'browser_version..."

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110471 entries, 0 to 110470
Data columns (total 9 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   visitor_key            110471 non-null  object
 1   created_at             110471 non-null  datetime64[ns, UTC]
 2   last_active_at         110471 non-null  datetime64[ns, UTC]
 3   last_event_key         110471 non-null  object
 4   load_count             110471 non-null  int64
 5   play_count             110471 non-null  int64
 6   identifying_event_key  0 non-null       float64
 7   visitor_identity       110471 non-null  object
 8   user_agent_details     110471 non-null  object
dtypes: datetime64[ns, UTC](2), float64(1), int64(2), object(4)
memory usage: 7.6+ MB
../data/Bronze/visitors\visitors_20260108_181954_batch_4.json

,visitor_key,created_at,last_active_at,last_event_key,load_count,play_count,identifying_event_key,visitor_identity,user_agent_details
0,1767920_38987ced-0b72-4516-a191-3d6696be414c-8...,2026-01-09 01:03:22+00:00,2026-01-09 01:02:50+00:00,1767920_e2c0b383-befb-4383-acd5-b970c3fb1c2d-6...,1,1,NaN,"{'name': '', 'email': None, 'org': {'name': No...","{'browser': 'Safari', 'browser_version': '26',..."
1,1767918_e9d18517-6ac7-4ff6-bacf-1fe5148edd0d-a...,2026-01-09 00:48:42+00:00,2026-01-09 00:48:16+00:00,1767919_77655319-fc9c-425f-af64-e5f280e616b7-9...,5,1,NaN,"{'name': '', 'email': None, 'org': {'name': No...","{'browser': 'Chrome', 'browser_version': '143'..."
2,1767919_27c1c780-d5bf-4bfa-bcff-34d864e6777c-8...,2026-01-09 00:41:15+00:00,2026-01-09 00:41:08+00:00,1767919_4e35bc60-4a03-402d-b85e-f0499f220524-c...,1,1,NaN,"{'name': '', 'email': None, 'org': {'name': No...","{'browser': 'Chrome', 'browser_version': '143'..."
3,1767917_d32b5597-f5d7-4711-906b-6ad1f5c6659d-2...,2026-01-09 00:15:39+00:00,2026-01-09 00:15:27+00:00,1767917_9d603948-2674-456d-9fae-fb540e19ae57-8...,1,1,NaN,"{'name': '', 'email': None, 'org': {'name': No...","{'browser': 'Chrome', 'browser_version': '143'..."

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   visitor_key            4 non-null      object
 1   created_at             4 non-null      datetime64[ns, UTC]
 2   last_active_at         4 non-null      datetime64[ns, UTC]
 3   last_event_key         4 non-null      object
 4   load_count             4 non-null      int64
 5   play_count             4 non-null      int64
 6   identifying_event_key  0 non-null      float64
 7   visitor_identity       4 non-null      object
 8   user_agent_details     4 non-null      object
dtypes: datetime64[ns, UTC](2), float64(1), int64(2), object(4)
memory usage: 420.0+ bytes